<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @inquiry.product %>
</p>

<p>
  <b>Inquiry:</b>
  <%= @inquiry.inquiry %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
